{% extends "base.html" %}

{% block body %}
<form action="/logout" method="POST">
  <div class="bar-left">
    $$: {{cash}}
  </div>
  <div class="bar-right">
    <input type="submit" class="back" name="back" value="Back">
  </div>
</form>
<div class="header">SELECT ITEMS</div>
<div class="store">
<form method="POST" action="/store">
  <table>
	{% for each in items %}
    <tr>
      <td class="table-left">{{each}}</td>
      <td class="table-right">
        {% if items[each] == 0 %}
          <input type="image" class="onoff" src="../static/images/off.png" name="equip">
        {% else %}
          <input type="image" class="onoff" src="../static/images/on.png" name="unequip">
        {% endif %}
      </td>
    </li>
  {% endfor %}
  </ul>
</form>
</div>
{% endblock %}
