{% extends "base.html" %}

{% block body %}
  <div class="bar-left">
    $$: {{cash}}
  </div>
  <div class="bar-right">
    <a class="button hollow success" href="{{ url_for('home') }}">Back</a>
  </div>
<div class="header">SELECT ITEMS</div>
<div class="store">
<div class="scrollarea">
  <table>
    {% for item in items %}
    <tr>
      <td class="table-left"><img src=../static/images/{{item[1]}}></td>
      <td class="table-right">
        {% if items[item] == 0 %}	
	<form method="POST" action="/equip">
          <input type="image" class="onoff" src="../static/images/off.png" name="equip" value=item>
	</form>
        {% else %}
	<form method="POST" action="/unequip">
        <input type="image" class="onoff" src="../static/images/on.png" name="unequip" value={{item[1]}}>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  </form>
</div>
</div>
{% endblock %}
