{% extends "base.html" %}

{% block body %}
<div class="login">
  <form action=" {{ url_for('register_auth') }}" method="POST">
    {% if condition == '1' %}
    <p> Sorry, the passwords do not match. </p>
    {% elif condition == '2' %}
    <p> Sorry, the username already exists. </p>
    {% endif %}
    <label>USERNAME:
      <input name="usr" type="text">
    </label>
    <br><br>
    <label>PASSWORD:
      <input name="pwd" type="password">
    </label>
    <br><br>
    <label>CONFIRM PASSWORD:
      <input name="cfm" type="password">
    </label> <br><br>
    <input type="submit" name="register" value="Register">
  </form>
</div>
{% endblock %}
