{% extends "base.html" %}

{% block body %}
<form method="GET" action="{{url_for('home')}}">
  <div class="bar-left">
    $$: {{cash}}
  </div>
  <div class="bar-right">
    <input type="submit" class="back" name="back" value="Back">
  </div>
</form>
<div class="header">BUY ITEMS</div>
<div class="store">
  <form method="GET" action="/store">
	  <input type="text" name="query">
	  <input type="submit" name="submit" value="Submit">
  </form>
  <br>
  <form method="POST" action="/store">
	  <table>
      {% for each in items %}
        <tr>
          <td class="table-left">{{each}}: ${{items[each]}} </td>
          <td class="table-right"><input type="image" class="buy" src="../static/images/buy.png" name="buy"></td>
        </tr>
      {% endfor %}
    </table>
  </form>
</div>
{% endblock %}
