{% extends "base.html" %}

{% block body %}
<div class="bar-left">
  $$: {{cash}}
</div>
<div class="bar-right">
  <a class="button hollow success" href="{{ url_for('home') }}">Back</a>
</div>
<div class="header">BUY ITEMS</div>
<div class="store">
  <div class="input-group">
    <input class="input-group-field" type="text">
    <div class="input-group-button">
      <input type="submit" class="button" value="Submit">
    </div>
  </div>
  <div class="scrollarea">
    <form method="POST" action="/store">
      <table>
        {% for each in items %}
          <tr>
            <td class="table-left">{{each}}: ${{items[each]}} </td>
            <td class="table-right"><input type="image" class="buy" src="../static/images/buy.png" name="buy"></td>
          </tr>
        {% endfor %}
      </table>
    </form>
  </div>
</div>
{% endblock %}
