.container {
    position: relative;
    text-align: center;
    color: white;
}

.frext {
  font-size: 300%;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
  font-family: Verdana;
}

.register{
	padding: 200px 0;
	border: 3px;
}

.left-half {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 40%;
  left: 25%;
}

.right-half {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 40%;
  right: 25%;
}

.left-up-half {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 10%;
  left: 25%;
}

.left-down-half {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 70%;
  left: 25%;
}

.middle {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 30%;
  right: 50%;
}

.bar-left {
  position: absolute;
  font-size: 100%;
  top: 5%;
  left: 5%;
}

.bar-right {
  position: absolute;
  font-size: 100%;
  top: 5%;
  right: 5%;
}
