.full {
  position: fixed;
  width: 80%;
  padding-top: 50%;
  margin: auto;
  background-image: url("../static/images/background.jpg");
  background-size: 100% 100%;
}
.box {
  border: 1px solid black;
}
