body {
  font-size: 200%;
}

.login {
  position: absolute;
  width: 17%;
  height: 30%;
  top: 30%;
  right: 42.5%;
  font-size: 50%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.frext {
  font-size: 150%;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
  font-family: Verdana;
}

.left-half {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 40%;
  left: 25%;
}

.right-half {
  position: absolute;
  width: 17%;
  height: 30%;
  top: 40%;
  right: 25%;
}

.left-up-half {
  position: absolute;
  width: 17%;
  height: 30%;
  top: 13%;
  left: 10%;
}

.left-down-half {
  position: absolute;
  width: 17%;
  height: 30%;
  top: 55%;
  left: 10%;
}

.middle {
  position: absolute;
  width: 17%;
  height: 30%;
  top: 30%;
  right: 42.5%;
}

.bar-left {
  position: absolute;
  font-size: 100%;
  top: 5%;
  left: 5%;
}

.bar-right {
  position: absolute;
  font-size: 100%;
  top: 5%;
  right: 5%;
}

.highscore {
  border: 1px solid white;
  position: absolute;
  width: 30%;
  height: 80%;
  top: 12%;
  right: 5%;
}

.img {
  width: 100%;
  height: 100%;
}

.store {
  border: 1px solid white;
  position: absolute;
  font-size: 100%;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 70%;
}

.header {
  position: absolute;
  top: 12%;
  left: 45%;
}

table {
  padding-top: 2%;
  padding-left: 5%;
  width: 95%;
}

.table-left {
  text-align: left;
}

.table-right {
  text-align: right;
}

.onoff {
  height: 8%;
  width: 8%;
}

.buy {
  height: 20%;
  width: 20%;
}

.back {
  font-size: 200%;
}
